{% extends 'base.html.twig' %}

{% block title %}OFF-BLACK{% endblock %}

{% block body %}
<form method="post">
  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté au compte {{ app.user.userIdentifier }} <a href="{{ path('app_logout') }}">Se deconnecter ici</a>
        </div>
    {% endif %}
    <div class="bg-image home_background">
            
   <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
            
            <!--Titre!-->
                <h2 class="fw-bold mb-2 text-uppercase">Connexion</h2>
                <p class="text-white-50 mb-5">Authentification</p>
            
            <!--Email!-->
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" name="email" />
                  <label class="form-label" for="typeEmailX">Email</label>
                </div>
            
            <!--Password!-->
                <div class="form-outline form-white mb-4">
                  <input type="password" id="typePasswordX" class="form-control form-control-lg" name="password" />
                  <label class="form-label" for="typePasswordX">Mot de Passe</label>
                </div>
            
            <!--Oublie mdp!-->
                <p class="small mb-5 pb-lg-2"><a class="text-white-50">
                <a href="C:/Users/lgbotchenou/Symfony-AP1/app/templates/password.html" target="C:/Users/lgbotchenou/Symfony-AP1/app/templates/password.html">Mot de passe oublié ?</a></p>
            
            <!--Connexion!-->
                <input class="btn btn-outline-light btn-lg px-5" type="submit" value="Connexion">
            
            <!--Inscription compte client!-->
              <div>
                <p class="mb-0">Pas de compte client ? <a href="{{ path('app_register') }}" class="text-white-50 fw-bold">S'inscrire</a>
                </p>
            <!--END!-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock %}
