<!DOCTYPE html>
<html lang="en">

  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="icon" type="image/png" sizes="32x32" href="https://logo-marque.com/wp-content/uploads/2021/09/Off-White-Logo.png">
        <!--test!-->

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" type="text/css" href="{{ asset('style.css') }}">
        <!--TEST!-->
        
        <link rel="stylesheet" type="text/css" href="{{ asset('style_login.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('style_forget_password.css') }}">
        <!--templates css !-->

         <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/bootstrap.min.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/font-awesome.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/templatemo-hexashop.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/owl-carousel.css') }}">

        <link rel="stylesheet" href="{{ asset('assets/css/lightbox.css') }}">
        <!--fin templates css !-->

    
   


        {% block stylesheets %}  
              {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    
        {% block body %}{% endblock %}


            <!-- jQuery -->
    <script src="{{ asset('assets/js/jquery-2.1.0.min.js') }}"></script>

    <!-- Bootstrap -->
     <script src="{{ asset('assets/js/popper.js') }}"></script>
     <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

    <!-- Plugins -->
    <script src="{{ asset('assets/js/owl-carousel.js') }}"/>
    <script src="{{ asset('assets/js/accordions.js') }}"/>
    <script src="{{ asset('assets/js/datepicker.js') }}"/>
    <script src="{{ asset('assets/js/scrollreveal.min.js') }}"/>
    <script src="{{ asset('assets/js/waypoints.min.js') }}"/>
    <script src="{{ asset('assets/js/jquery.counterup.min.js') }}"/>
    <script src="{{ asset('assets/js/imgfix.min.js') }}"/> 
    <script src="{{ asset('assets/js/slick.js') }}"/>
    <script src="{{ asset('assets/js/lightbox.js') }}"/>
    <script src="{{ asset('assets/js/isotope.js') }}"/>
 <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
    </body>
</html>
