{% block title %}OFF-BLACK{% endblock %}
<header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{ path('app_index') }}" class="logo">
                            <img src="{{ asset('image/stussy_logo.jpg') }}">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="{{ path('app_index') }}" class="active">Accueil</a></li>
                            <li class="scroll-to-section"><a href="{{ path('app_index') }}">Hommes</a></li>
                            <li class="scroll-to-section"><a href="{{ path('femme') }}">Femmes</a></li>
                            <li class="submenu">
                                <a href="javascript:;">Notre Identité</a>
                                <ul>
                                    <li><a href="{{ path('about_us') }}">A propos de nous</a></li>
                                    <li><a href="{{ path('app_index') }}">Date Pop up Store</a></li>
                                    <li><a href="{{ path('app_index') }}">Défilé</a></li>
                                </ul>
                            </li>
                            <li class="scroll-to-section"><a href="#explore">Contactez-nous</a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
